!!!
%html.no-js
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/

    %title= page_title

    %meta{:content => page_description, :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    %link{ :href => 'http://fonts.googleapis.com/css?family=Oxygen:400,300,700', :rel => 'stylesheet', :type => 'text/css' }

    / = javascript_include_tag "vendor/modernizr-2.7.0.min"
    = stylesheet_link_tag "all"

  %body{class: body_class}
    /[if lt IE 8]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>

    / Add your site or application content here
    %header
      .nav
        .nav-inner
          %a
            %i.fa.fa-cogs
            %span.brand
              WanderingLabs

    = yield

    %footer
      .footer-content
        Wandering Labs is a creation of
        %a{ href: 'http://tiwatson.com' }Tim Watson
        %br/
        Find our travel blog at:
        %a{ href: 'http://watsonswander.com' }Watsons Wander

    = javascript_include_tag "all"
