@import "neat-helpers";

$gutter: golden-ratio(1em, -1) !global;

$mobile-screen: em(860);
$padded-screen: em(1100);

$mobile-screen-max: new-breakpoint(max-width $mobile-screen);
$padded-screen-max: new-breakpoint(max-width $padded-screen);

@mixin outer-container-padded {
  @include outer-container;
  @include media($padded-screen-max) {
    padding-left: $gutter;
    padding-right: $gutter;
  }
}
