* {
  margin: 0;
  padding: 0;
}

body {
  // background: $asbestos;
}

h1 {
  font-size: em(36);
}

.hero {
  background: url("../images/hero.jpg") no-repeat center;
  height: 300px;

  .hero-main {
    @include outer-container-padded;

    h4 {
      padding-top: 50px;
      color: $clouds;
    }
  }
}

footer {
  @include outer-container-padded;
  margin-top: $gutter * 4;
  margin-bottom: $gutter * 2;
  color: transparentize($base-font-color, .5);
  text-align: center;

  .footer-content {
    @include span-columns(12);

  }
}
