$project-box-border-color: $medium-gray;
$project-box-border: 1px solid $project-box-border-color;
$project-box-background: lighten($light-gray, 10);
$project-box-gutter: .4em;
$project-box-width: 18em;
$project-box-color: transparentize($base-font-color, .3);
$project-box-top-colors:
tomato,
#72BFBF,
#92B1E3,
#E3D743,
#CCC,
#F6C05C;

.project-boxes {
  @include clearfix;
  // @include display(flex);
  // @include justify-content(center);
  // @include align-items(stretch);
  // @include flex-wrap(wrap);
  text-align: center;
}

.project-box {

  @include media($large-screen) {
    @include span-columns(4);
    @include omega(3n);
  }

  @include transition (all 0.2s ease-in-out);
  //@include flex(2 2 15em);
  //@include align-self(stretch);
  //display: block;
  box-shadow: inset 0 0 1px $project-box-border-color, 0 2px 4px darken($base-background-color, 10);
  border-radius: $base-border-radius;
  margin: $project-box-gutter;
  padding: 12px;
  background: $project-box-background;

  @for $i from 1 to 7 { // assign colors from $project-box-top-colors list
    &:nth-child(#{$i}) {
      $color-from-list: nth($project-box-top-colors, $i);
      border-top: 6px solid $color-from-list;

      &:hover {
        background-color: transparentize($color-from-list, .9);
      }
    }
  }
}

.project-box img {
  display: block;
  opacity: .4;
  height: 3em;
  margin: auto;
  margin-bottom: 2em;
}

.project-box .project-title {
  color: $project-box-color;
  // font-family: $serif;
  // font-weight: 500;
  // font-size: 1.5em;
  margin-bottom: .5em;
}

.project-box p {
  margin: auto;
  line-height: 1.5em;
  color: transparentize($project-box-color, .1);
}

.project-box-big {
  @include flex(1 1 40em);
}
