$project-box-border-color: $medium-gray;
$project-box-border: 1px solid $project-box-border-color;
$project-box-background: lighten($light-gray, 10);
$project-box-gutter: .4em;
$project-box-width: 18em;
$project-box-color: transparentize($base-font-color, .3);
$project-box-top-colors:
tomato,
#72BFBF,
#92B1E3,
#E3D743,
#CCC,
#F6C05C;

.project-boxes {
  @include outer-container-padded;
}

.project-box {

  @include span-columns(6);
  @include omega(2n);

  @include media($mobile-screen-max) {
    @include span-columns(12);
  }

  margin-top: $gutter;
  @include transition (all 0.2s ease-in-out);

  box-shadow: inset 0 0 1px $project-box-border-color, 0 2px 4px darken($base-background-color, 10);
  border-radius: $base-border-radius;
  padding: $gutter;

  background: $project-box-background;

  .project-box-buttons {
    margin-top: $gutter;
  }

  @for $i from 1 to 7 { // assign colors from $project-box-top-colors list
    &:nth-child(#{$i}) {
      $color-from-list: nth($project-box-top-colors, $i);
      border-top: 6px solid $color-from-list;

      &:hover {
        background-color: transparentize($color-from-list, .9);
      }

      %button {
        -webkit-font-smoothing: antialiased;
        background-color: $color-from-list;
        border-radius: $base-border-radius;
        color: white;
        display: inline-block;
        font-size: $base-font-size;
        font-weight: bold;
        line-height: 1;
        padding: 0.5em 1em;
        text-decoration: none;
        margin-right: 1em;

        &:hover {
          background-color: transparentize($color-from-list, .5);
          color: white;
        }

        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }

    }
  }

  h3 {
    color: $base-font-color;
    // font-family: $serif;
    // font-weight: 500;
    // font-size: 1.5em;
    margin-bottom: .5em;
  }
  .fa-lg {
    vertical-align: -14%;
  }

  p {
    margin: auto;
    margin-bottom: $gutter;
    line-height: 1.5em;
    color: transparentize($base-font-color, 0);
    &.built {
      font-size: $base-font-size * .75;
      color: transparentize($base-font-color, .5);
      a {
        color: transparentize($base-font-color, .5);
        &:after {
          content: ", ";
        }
        &:last-child:after {
          content: "";
        }
      }
    }
  }
}
